.home__no__products, .home__message, .home__loading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home__no__products, .home__loading {
  color: #3483FA;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home__message {
  color: #94979D;
  font-size: 0.8rem;
}

.home__products {
  display: grid;
  grid-template-columns:  20%  80%;
}
