.container__products__list {
  grid-column:  2 /  3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.products__list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px; 
  min-height: 200px;
  gap: 5px;
  overflow: hidden;
}

.products__list h2 {
  font-size: 0.7rem;
  margin: 10px 0;
  font-weight: normal;
}

.products__list p {
  margin: 5px 0;
  font-size: 2rem;
  margin-top: 10px;
}

.products__list img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin: 0 auto;
}

.products__list button {
  background-color: #3483fa;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.products__list button:hover {
  background-color: #2672d8;
}

.product__shipping {
  font-size: 0.7rem;
  color: #2CB56E;
  display: inline;
  line-height: normal;
  margin-top: 5px;
  font-weight: bold;
}

.product__shipping__full {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
}

.product__shipping__full span {
  font-size: 0.8rem;
  color: #666;
  line-height: 1;
  font-weight: bold;
}

.product__shipping__full svg path {
  fill: #2CB56E;
}

.product__shipping__full svg {
  width: 25%;
  height: 100%;
  line-height: normal;
  margin-left: 5px;
}
.product__price {
  font-size: 1.7rem;
}

.price__reais {
  font-size: 1.7rem;
  margin-left: 5px;
}

.price__centavos {
  font-size: 0.7rem;
  vertical-align: super;
}

.product__original__price {
  color: #94979D;
  font-size: 0.8rem;
  margin-top: 5px;
}

.product__original__price__reais {
  font-size: 0.8rem;
  margin-left: 5px;
  text-decoration: line-through;
}

.product__original__price__centavos {
  font-size: 0.6rem;
  vertical-align: super;
  text-decoration: line-through;
}