.navbar {
  background-color: #FFE600;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navbar__logo img {
  width: 100px;
  height: auto;
}

.navbar__logo p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: #484582;
}

.navbar__search {
  display: flex;
  align-items: center;
  width: 50%;
}

.navbar__search input {
  width: 50%;
  padding: 10px;
  border: none;
  border-right: #b2b2b2 solid 1px;
}

.navbar__search button {
  padding: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.home__products {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home__no__products, .home__message {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home__no__products {
  color: #3483FA;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.home__message {
  color: #94979D;
  font-size: 0.8rem;
}

.container__home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #EDEDED;
}

.products__list {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Centraliza o produto na página */
  max-width: 300px; /* Máxima largura para cada item */
}

.products__list__span {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.products__list h2 {
  font-size: 0.9rem;
  margin: 10px 0;
  font-weight: normal;
}

.products__list p {
  margin: 5px 0;
  font-size: 2rem;
  
  margin-top: 10px;
}

.products__list img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.products__list button {
  background-color: #3483fa;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.products__list button:hover {
  background-color: #2672d8;
}

.product__shipping {
  font-size: 0.8rem;
  color: #2CB56E;
  display: inline;
  line-height: normal;
  margin-top: 5px;
}

.product__shipping__full {
  display: flex;
  align-items: center;
  margin: 15px 0 15px 0;
}

.product__shipping__full span {
  font-size: 0.8rem;
  color: #666;
  line-height: 1;
  font-weight: bold;
}

.product__shipping__full svg path {
  fill: #2CB56E;
}

.product__shipping__full svg {
  width: 20%;
  height: 100%;
  line-height: normal;
  margin-left: 5px;
}
.product__price {
  font-size: 2rem;
}

.price__reais {
  font-size: 2rem;
  margin-left: 5px;
}

.price__centavos {
  font-size: 1rem;
  vertical-align: super;
}

.product__original__price {
  text-decoration: line-through;
  color: #94979D;
  font-size: 0.8rem;
  margin-top: 5px;
}

.product__original__price__reais {
  font-size: 0.8rem;
  margin-left: 5px;
}

.product__original__price__centavos {
  font-size: 0.6rem;
  vertical-align: super;
}